<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackHoleSpriteSheet-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{623,147},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{777,147},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1221,591},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1373,591},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1525,591},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1677,591},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1083,147},{150,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1829,597},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1235,147},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1389,147},{150,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1541,147},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1695,147},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{157,589},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,293},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{155,293},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{309,293},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{465,293},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{157,1},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{313,1},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{469,1},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{625,1},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{781,1},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{931,147},{150,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{152,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{937,1},{152,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1091,1},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{621,295},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{777,295},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{933,295},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1087,295},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1243,295},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1397,295},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1551,295},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1705,295},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{309,589},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,737},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1849,147},{150,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{153,739},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{305,739},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{457,739},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{609,741},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{761,741},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{913,741},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1065,741},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1217,741},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{461,589},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1369,741},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1521,741},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,441},{150,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1673,741},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{153,441},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{307,441},{150,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{459,441},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{613,443},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{767,443},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{921,443},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{613,591},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1075,443},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1231,443},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1247,1},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1403,1},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1559,1},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1715,1},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,147},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{157,147},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{313,147},{152,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{467,147},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{765,591},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1387,443},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1543,443},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1699,443},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,589},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1853,443},{152,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlackHoleSpriteSheet-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{917,591},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHoleSpriteSheet-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1069,591},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlackHolePlist.png</string>
            <key>size</key>
            <string>{2000,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d5f8bc1284a9ef8f5eaa85d2e539c06:ec09b01f5b34e50f85112539287b1590:e9b8404d055ff7e2da11d1f7c22115e0$</string>
            <key>textureFileName</key>
            <string>BlackHolePlist.png</string>
        </dict>
    </dict>
</plist>
